<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Notepage | hub</title>
    <!-- css & fontawesome -->
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <script> 
        const prompt = require('electron-prompt');
        const {ipcRenderer} = require('electron');
        const fs = require('fs');

        const package = require('../../package.json');
        const projName = package.name;

        let osName = require("os").userInfo().username;

        let update_button = document.getElementById('isUpdate');
        ipcRenderer.on('Update-found', (event, arg) =>{
            upddate_button.innerHTML = '<button id="trigger-update"><i class="fas fa-arrow-alt-circle-down"></i></button>';
        })

        //Creates Link
        function link() {
            var url = prompt({
                title: 'Gib einen Link ein',
                label: 'URL',
                value: 'http://example.org',
                inputAttrs: {
                    type: 'url'
                }
            }).then((r) => {
                document.execCommand("createLink", false, r);
            }).catch(console.error);
        }

        //Deletes Selected File
        function remove(name){
            console.log(name);
            if(name != ""){
                fs.unlinkSync(`C:/Users/${osName}/Documents/${projName}/${name}`);
            }else{
                return;
            }
        }

        //Loads data and sends Name to Discord Richpresents function
        function loadData(name){
            let data = JSON.parse(fs.readFileSync(`C:/Users/${osName}/Documents/${projName}/${name}`, null, 4));
            let title = document.getElementById('title');
            let nameInput = document.getElementById('name');
            let editor = document.querySelector(".editor");

            editor.innerHTML = data['content'];
            nameInput.value = data['name'];

            document.getElementById('rm').setAttribute("onclick",`remove('${name}')`);

            //Sending to discord Richpresence
            ipcRenderer.send('opened',`${data['name']}`);
        }

        //Adds differention line
        function Differenter() {
            var h = document.getElementById("editor");
            h.insertAdjacentHTML("afterbegin", "<hr>");
        }

        fs.readdir(`C:/Users/${osName}/Documents/Notepage`, function(err, items) {
            for (var i=0; i<items.length; i++) {
                let data = JSON.parse(fs.readFileSync(`C:/Users/${osName}/Documents/${projName}/${items[i]}`, null, 4));

                let textnode = document.createTextNode(data['name']);
                let node = document.createElement("LI");

                node.setAttribute("onclick",`loadData('${items[i]}')`);
                node.className = "note";
                node.appendChild(textnode);

                document.getElementById("note-list").appendChild(node);
            }
        });

        //Colorpicker visibility code
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if(e.style.display == 'flex')
                e.style.display = 'none';
            else
                e.style.display = 'flex';

        }

        function onDisplayed(id){
            var e = document.getElementById(id);
            if(e.style.display == 'flex')
                e.style.display = 'none';

                console.log(id + 'Wurde Geschlossen');
        }

        //Templates document.executes('function', 'value');
        function execute(arg1, arg2){
            /**
             * @param {string} arg1 Value for Function to execute
             * @param {string} arg2 Value the Function will execute with
             */
            return document.execCommand(arg1, false, arg2);
        }
        </script>
    <div class="dragable">
        <div id="version" class="text-container">Notepage vX.X.X</div>
    </div> <!-- Dragable Area -->

    <!-- Buttons (close, minimize, maximize) -->
    <button class="btn" id="minimize"><i class="fas fa-window-minimize"></i></button>
    <button class="btn" id="maximize"><i class="far fa-window-restore"></i></button>
    <button class="btn" id="closeDown"><i class="fas fa-times"></i></button>
    <!-- Buttons [END]-->

    <!-- UI Area -->

    <div class="topui">
        <h1><form value="" style="margin-bottom: 5px;"><input style="background-color:#2ecc71; color:white; border:none; height: 30px;font-size: 28px;" placeholder="Note Name" type="text" id="name" required="true"></form></h1>
    </div>
    <div class="main">
        <div class="sideUI">
            <ul id="note-list" class="note-list">
                <li style="margin-bottom: 5px;" class="note"><button style="border-radius: 2px; padding: 5px 5px 5px 5px; font-weight: bold; width: 98%; border:none; background-color:#2ecc71; color:white;" id="new">NewFile</button></li>
                <li class="note"><button style="border-radius: 2px; padding: 5px 5px 5px 5px; font-weight: bold; width: 98%; border:none; background-color:#fc5441; color:white;" id="rm">Delete</button></li>
                <hr>
            </ul>
        </div>
    </div>
    <!-- wysiwyg Tools -->
    <div class="toolbar">

        <!-- Text format -->
        <select class="tool-items" style="width: 70px;"
            onchange="document.execCommand('formatBlock', false, this.value)">
            <option disabled selected>Format</option>
            <option value="p">
                <p>Paragraph</p>
            </option>
            <option value="h1">
                <h1>Titel-1</h1>
            </option>
            <option value="h2">
                <h2>Titel-2</h2>
            </option>
            <option value="h3">
                <h3>Titel-3</h3>
            </option>
            <option value="h4">
                <h4>Titel-4</h4>
            </option>
            <option value="h5">
                <h5>Titel-5</h5>
            </option>
            <option value="h6">
                <h6>Titel-6</h6>
            </option>
        </select>

        <!-- Text format -->
        <select class="tool-items" onchange="document.execCommand(this.value)" style="width:45px">
            <option disabled selected>List</option>
            <option value="insertOrderedList">Ordered List</option>
            <option value="insertUnorderedList">Unordered List</option>
        </select>

        <!-- font type -->
        <button class="tool-items fa fa-underline" onclick="document.execCommand('underline', false, '');"></button>
        <button class="tool-items fa fa-italic" onclick="document.execCommand('italic', false, '');"></button>
        <button class="tool-items fa fa-bold" onclick="document.execCommand('bold', false, '');"></button>
        <button class="tool-items" onclick="document.execCommand('insertHTML',false,'<hr>')"><img style="color:white;" src="../img/differenter.png" alt="differenter" width="15px"></button>
        <button class="tool-items fa fa-strikethrough" onclick="document.execCommand('strikeThrough',false,'')"></button>
        <!-- Alignment -->
        <button class="tool-items fa fa-align-left" onclick="document.execCommand('justifyLeft',false,'')"></button>
        <button class="tool-items fa fa-align-center" onclick="document.execCommand('justifyCenter',false,'')"></button>
        <button class="tool-items fa fa-align-right" onclick="document.execCommand('justifyRight',false,'')"></button>
        <!-- undo redo -->
        <button class="tool-items fa fa-undo" onclick="document.execCommand('undo',false,'')"></button>
        <button class="tool-items fa fa-repeat" onclick="document.execCommand('redo',false,'')"></button>
        <!-- misc -->
        <button class="tool-items fas fa-tint" onclick="onDisplayed('bgcolorPicker'); toggle_visibility('colorPicker')"></button>
        <button class="tool-items fas fa-highlighter" onclick="onDisplayed('colorPicker'); toggle_visibility('bgcolorPicker')"></button>
        <button class="tool-items fa fa-trash" onclick="document.execCommand('delete',false,'')"></button>
        <button class="tool-items fas fa-circle" onclick="document.execCommand('insertUnorderedList')"></button>
        <button class="tool-items fa fa-link" onclick="link()"></button>
        <!-- Save -->
        <button class="tool-items fas fa-save" id="btnStore"></button>
        
        <div id="colorPicker" style="display:none;">
            <ul class="pickerBody" style="height: 50px; overflow-y: scroll;">
                <div style="width: 100%;"> 
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#fab1a0');" style="color:#fab1a0;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#ff7675');" style="color:#ff7675;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#d63031');" style="color:#d63031;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#d35400');" style="color:#d35400;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#e17055');" style="color:#e17055;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#fdcb6e');" style="color:#fdcb6e;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#ffeaa7');" style="color:#ffeaa7;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#55efc4');" style="color:#55efc4;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#00b894');" style="color:#00b894;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#27ae60');" style="color:#27ae60;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#81ecec');" style="color:#81ecec;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#00cec9');" style="color:#00cec9;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#74b9ff');" style="color:#74b9ff;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#0984e3');" style="color:#0984e3;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#a29bfe');" style="color:#a29bfe;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#6c5ce7');" style="color:#6c5ce7;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#fd79a8');" style="color:#fd79a8;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#e84393');" style="color:#e84393;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#dfe6e9');" style="color:#dfe6e9;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#b2bec3');" style="color:#b2bec3;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#636e72');" style="color:#636e72;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#2d3436');" style="color:#2d3436;"><i class="fas fa-square"></i></button>
                </div><br><br><br><br>
                    <hr>
                <div>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#e74c3c');" style="color:#e74c3c;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#c0392b');" style="color:#c0392b;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#d35400');" style="color:#d35400;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#e67e22');" style="color:#e67e22;"><i class="fas fa-square"></i></button>                        
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#f39c12');" style="color:#f39c12;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#f1c40f');" style="color:#f1c40f;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#2ecc71');" style="color:#2ecc71;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#27ae60');" style="color:#27ae60;"><i class="fas fa-square"></i></button>                        
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#1abc9c');" style="color:#1abc9c;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#16a085');" style="color:#16a085;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#3498db');" style="color:#3498db;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#2980b9');" style="color:#2980b9;"><i class="fas fa-square"></i></button>                        
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#9b59b6');" style="color:#9b59b6;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#8e44ad');" style="color:#8e44ad;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#2c3e50');" style="color:#2c3e50;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#34495e');" style="color:#34495e;"><i class="fas fa-square"></i></button>                        
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#7f8c8d');" style="color:#7f8c8d;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#95a5a6');" style="color:#95a5a6;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#bdc3c7');" style="color:#bdc3c7;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', '#ecf0f1');" style="color:#ecf0f1;"><i class="fas fa-square"></i></button>
                    <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('foreColor', 'black');" style="color:black;"><i class="fas fa-square"></i></button>
                </div>
            </ul>
        </div>
        <div id="bgcolorPicker" style="display:none;">
                <ul class="pickerBody" style="height: 50px; overflow-y: scroll;">
                    <div style="width: 100%;"> 
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#fab1a0');" style="color:#fab1a0;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#ff7675');" style="color:#ff7675;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#d63031');" style="color:#d63031;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#d35400');" style="color:#d35400;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#e17055');" style="color:#e17055;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#fdcb6e');" style="color:#fdcb6e;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#ffeaa7');" style="color:#ffeaa7;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#55efc4');" style="color:#55efc4;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#00b894');" style="color:#00b894;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#27ae60');" style="color:#27ae60;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#81ecec');" style="color:#81ecec;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#00cec9');" style="color:#00cec9;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#74b9ff');" style="color:#74b9ff;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#0984e3');" style="color:#0984e3;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#a29bfe');" style="color:#a29bfe;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#6c5ce7');" style="color:#6c5ce7;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#fd79a8');" style="color:#fd79a8;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#e84393');" style="color:#e84393;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#dfe6e9');" style="color:#dfe6e9;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#b2bec3');" style="color:#b2bec3;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#636e72');" style="color:#636e72;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#2d3436');" style="color:#2d3436;"><i class="fas fa-square"></i></button>
                    </div><br><br><br><br>
                        <hr>
                    <div>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#e74c3c');" style="color:#e74c3c;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#c0392b');" style="color:#c0392b;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#d35400');" style="color:#d35400;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#e67e22');" style="color:#e67e22;"><i class="fas fa-square"></i></button>                        
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#f39c12');" style="color:#f39c12;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#f1c40f');" style="color:#f1c40f;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#2ecc71');" style="color:#2ecc71;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#27ae60');" style="color:#27ae60;"><i class="fas fa-square"></i></button>                        
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#1abc9c');" style="color:#1abc9c;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#16a085');" style="color:#16a085;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#3498db');" style="color:#3498db;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#2980b9');" style="color:#2980b9;"><i class="fas fa-square"></i></button>                        
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#9b59b6');" style="color:#9b59b6;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#8e44ad');" style="color:#8e44ad;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#2c3e50');" style="color:#2c3e50;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#34495e');" style="color:#34495e;"><i class="fas fa-square"></i></button>                        
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#7f8c8d');" style="color:#7f8c8d;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#95a5a6');" style="color:#95a5a6;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#bdc3c7');" style="color:#bdc3c7;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', '#ecf0f1');" style="color:#ecf0f1;"><i class="fas fa-square"></i></button>
                        <button class="pickerItem" onclick="toggle_visibility('colorPicker'); execute('backColor', 'black');" style="color:black;"><i class="fas fa-square"></i></button>
                    </div>
                </ul>
        </div>

        <div id="isUpdate" style="position:absolute; right: 10px;"></div>

    </div>
    <!-- wysiwyg editor-->
    <div class="center">
        <div class="editor" id="editor" contenteditable></div>
    </div>

    <script>
        const {version} = require('../../package.json');
        document.getElementById('version').innerHTML = `Notepage v${version}`;
        require('../js/app.js');
    </script> <!-- Javascript -->
</body>

</html>