<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Notepage | hub</title>
    <!-- css & fontawesome -->
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>

    <div style="background-color:#2ecc71; padding: 10px 5px 10px 5px;">
        <h1 id="title" style="text-align: center; color:white;">vX.X.X</h1>
    </div>
    
    <div style="margin-left: 10px; margin-right:10px;">
        <ul id="noteList" style="color:white;">
            <li>Created a new Splashscreen</li>
            <li>Automated Version Display over the whole Software</li>
            <li>Added more Colors</li>
            <li>Color Pickers disapear after having been used</li>
            <li>Color Pickers don't overlap each other anymore</li>
            <li>Change Style of Seperator</li>

        </ul>
        <button style="position:absolute; left: 10px; bottom: 10px; border: none; background-color:#2ecc71; color:white; font-weight: bold; font-size: 20px; border-radius: 2px;" id="hasSeen">Close</button>
    </div>

    <script type="text/javascript">
        const {ipcRenderer} = require('electron');

        const {version} = require('../../package.json');
        document.getElementById('title').innerHTML = `${version}`;

        let close = document.getElementById('hasSeen');
        close.addEventListener('click', () => {
            ipcRenderer.send('SetReadFalse');
            window.close();
        });
    </script>

</body>

</html>